/* Defaults */
nav, 
header, 
footer {
    display: block
}

body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(41, 39, 39);
    color: #d4d4d4;
    font-size: 16px;
}

a {
    color: #87b9bb;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}


h1 {
    padding: 0;
    margin: 0;
    color: whitesmoke;
}





/* Nav bar */

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: rgb(134, 185, 187);
    overflow: hidden;
    margin: 0;
    padding: 0; 
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: rgb(41, 39, 39);
}

ul.topnav li a:hover {
    background-color: rgb(90, 138, 139);
    color: whitesmoke
}

ul.topnav li.dropdownIcon {
    display:none
}

/* Custom styles */

.flexbox-container {
    display: flex;
    /* align-items: stretch; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-items: flex-start;
}

.flexbox-item {
    margin: 10px;
}

.flexbox-item-1 {
    height: 500px;
    width: 33%;
    text-align: center;
}
.flexbox-item-2 {
    height: 500px;
    width: 66%;
    display: flex;
    flex-direction: column;
}

.subitem-1 {
    flex-basis: 50%;
}

.subitem-2 {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    /* width: 100%; */
}

.subitem-2 div {
    margin: 10px;
}

.education {
    padding-left: 60px;
}
.headshot {
    border-radius: 50%;
    width: 220px;
    margin: 20px 20px 5px 20px;
}

.headshot-desc p.name {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: whitesmoke;
}

.headshot-desc p.position {
    margin: 10px;
    font-size: 28px;
}

.headshot-desc a {
    display: block;
    text-decoration: none;
    padding: 0;
    margin: 15px;
    font-size: 18px;
}

.social-media-icons {
    display: flex;
    justify-content: center;    
/* flex-direction: column; */
}


a svg.icon {
    width: 50px;
    height: 50px;
    margin: 15px;
    fill: #87b9bb;
}

i svg.icon:hover {
    opacity: 0.5;
}

.about {
    font-size: 20px;
    line-height: 27px;
}

.interests li, .education li{
    padding: 10px;
    font-size: 20px;
}

.list {
    list-style: none;
}

.bubble {
    background-color: rgba(136, 136, 136, 0.3);
    /* background-color: rgba(135, 185, 187, 0.3); */
    border-radius: 10px;
    margin: 20px 40px 0 20px;
    padding: 10px;
}

.bubble:last-child {
    margin-bottom: 20px;
}


h1.bubblehead {
    /* background-color: rgba(136, 136, 136, 0.5); */
    /* display: inline-block; */
    /* border-radius: 5px; */
    padding: 10px;
    border-bottom: 3px solid rgb(87, 87, 87);
  }

.container {
    padding: 20px 20px 0;
}




/* Mobile */
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display:none;
    }

    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }

    .flexbox-container {
        flex-direction: column;
    }

    .flexbox-item-1 {
        width: 100%;
    }
    .flexbox-item-2 {
        width: 100%;
        margin: 0;
    }

    .subitem-1 {
        padding: 20px;
        text-align:left;
        padding: 0 20px 20px 20px;
    }

    .subitem-2 {
        text-align:left;
        display: block;
    }

    .subitem-1 h1 {
        margin: 0 ;
    }

    .interests {
        padding: 0;
        margin: 0;
    }

    .education {
        padding: 0;
        margin: 0;
    }
    .bubble {
        margin: 20px 20px 0 20px;
    }

}








